<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ayush.Islet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>islet</string>
			</array>
		</dict>
	</array>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Islet sets the volume of each app separately by passing its sound through at the level you choose.</string>
</dict>
</plist>
